@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100vh;
  line-height: 1.6;
  background: #0d1116;
  font-size: 15px;
  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: auto;
  text-rendering: optimizeLegibility;
}

.gradient-text {
  background: linear-gradient(89.38deg, #a8ff1a 0.12%, #60edff 106.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.side-tag {
  background: linear-gradient(89.38deg, #a8ff1a 0.12%, #60edff 106.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.new-tag {
  transform-origin: bottom left;
  animation: NewTag 1.8s infinite linear;
  animation-timing-function: ease-in;
}

@keyframes NewTag {
  0% {
    transform: scale(1) translate(0) rotate(0);
  }

  20% {
    transform: scale(0.8) translate(-8%) rotate(0);
  }

  48% {
    transform: scale(0.8) translate(-8%) rotate(-25deg);
  }

  60% {
    transform: scale(1) translate(0) rotate(5deg);
  }

  70% {
    transform: scale(1) translate(0) rotate(0);
  }

  to {
    transform: scale(1) translate(0) rotate(0);
  }
}

::-webkit-scrollbar {
  width: 1px; /* Scrollbar width */
}

.bg-custom-gradient {
  @apply bg-gradient-to-r; /* Tailwind class */
  background: linear-gradient(
    135deg,
    rgba(82, 255, 186, 0.04) 9.27%,
    rgba(35, 250, 236, 0.04) 46.96%,
    rgba(0, 170, 255, 0.04) 88.5%
  );
}

.bg-creative {
  background-image: linear-gradient(360deg, #000000, #0e0e0e00 54.05%);
  background-size: 100%, 234px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.bg-login{
  background-image: linear-gradient(252.37deg,#1b262b .55%,#171b21,#191d23 90.08%),linear-gradient(68.56deg,#1e2930 29.44%,#1d1d1d 59.6%,#262a2f 82.91%,#2e4141 101.21%)!important;
  background-clip: border-box, padding-box !important;
  background-origin: border-box, padding-box !important;
  border-radius:  12px;
  border: 1px solid #1e3139;
}

.bg-video{
  background: linear-gradient(195.91deg,#2b444799,#171c24 50.49%,#182129 84.14%)
}

.css-r64h58-MuiSlider-rail{
  background: #60edff !important;
  height: 4px !important;
  opacity: 1 !important;
}

.css-xvk2i-MuiSlider-track{
  background: #a8ff1a !important;
  height: 4px !important;
  opacity: 1 !important;
  border: 0px !important;
}

.css-1xcmt9q-MuiSlider-thumb{
  background: linear-gradient(89.38deg,#a8ff1a .12%,#60edff 106.24%) !important;
  border: 1px solid #fff !important;
  height: 14px !important;
  width: 14px !important;
}

.css-1xcmt9q-MuiSlider-thumb.Mui-active:hover{
  box-shadow: none !important;
}

.css-1asissc-MuiSlider-valueLabel{
  background: #0d111671 !important;
  border-radius: 6px  !important;
}

.css-lq5hqx-MuiSlider-mark{
  border-radius: 50% !important;
  background: white !important; 
  width: 8px !important;
  height: 8px !important;
}

.Mui-disabled .css-16kozi8-MuiSlider-mark{
  background: #333a45 !important;
}

.Mui-disabled .css-lq5hqx-MuiSlider-mark{
  background: #4e5062d9 !important;
}
.Mui-disabled .css-xvk2i-MuiSlider-track{
  background: #4e5062d9 !important;
}
.Mui-disabled .css-r64h58-MuiSlider-rail{
  background: #333a45 !important;
}
.Mui-disabled .css-1xcmt9q-MuiSlider-thumb{
  background: #4e5062d9 !important;
  border: none !important;
}

.bg-mobilemenu{
  background: linear-gradient(254.03deg, #1b2829bb -4.51%,#171b21bb 46.42%,#191d23bb 91.45%);
}